@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model FixedAreaDto

@{
    ViewBag.Title = "İletişim Ayarları";
    ViewBag.PageTitle = "İletişim Ayarları";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}

<script src="~/Areas/Management/Content/jquery.unobtrusive-ajax.min.js"></script>

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-group div img {
        width: 100px !important;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
    }
</style>

@Html.Raw(ViewBag.Message)

@using (Ajax.BeginForm("Index", "FixedArea", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "message" }, new { @class = "form-horizontal bordered-row" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>

    <input type="text" style="display:none" name="Id" value="@Model.Id" />


    <div class="row main-box">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="clearfix" id="tabs">
                        <ul id="tabList" class="nav nav-tabs mrg25B">
                            <li data-tab="anaSayfa" class="active"><a href="#">Ana Sayfa</a></li>
                            <li data-tab="genel"><a href="#">Genel Sayfa Ayarları</a></li>
                            <li data-tab="iletisim"><a href="#">İletişim</a></li>
                            <li data-tab="blogDetay"><a href="#">Blog Detay</a></li>
                            <li data-tab="footer"><a href="#">Footer</a></li>
                            <li data-tab="insanKaynaklari"><a href="#">İnsan Kaynakları</a></li>
                        </ul>
                    </div>


                    <div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label id="LanguageId" class="control-label">Sayfa Dili</label>
                                <div>
                                    <select class="form-control" id="LanguageId" name="LanguageId">
                                        @if (languages != null)
                                        {
                                            if (languages.Count > 0)
                                            {
                                                foreach (var language in languages)
                                                {
                                                    <option value="@language.Id">@language.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div id="anaSayfa" class="tabCaption">
                        <div class="main-box-header">
                            <h3>Ana Sayfa</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="AnaSayfa" class=" control-label">@Model.AnaSayfa</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfa" id="AnaSayfa" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AnaSayfaKurumsal" class=" control-label">@Model.AnaSayfaKurumsal</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaKurumsal" id="AnaSayfaKurumsal" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AnaSayfaHizmetlerimiz" class=" control-label">@Model.AnaSayfaHizmetlerimiz</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaHizmetlerimiz" id="AnaSayfaHizmetlerimiz" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaBlog" class=" control-label">@Model.AnaSayfaBlog</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaBlog" id="AnaSayfaBlog" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaInsanKaynaklari" class=" control-label">@Model.AnaSayfaInsanKaynaklari</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaInsanKaynaklari" id="AnaSayfaInsanKaynaklari" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaIletisim" class=" control-label">@Model.AnaSayfaIletisim</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaIletisim" id="AnaSayfaIletisim" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaHaber" class=" control-label">@Model.AnaSayfaHaber</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaHaber" id="AnaSayfaHaber" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaUrunlerimiz" class=" control-label">@Model.AnaSayfaUrunlerimiz</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaUrunlerimiz" id="AnaSayfaUrunlerimiz" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AnaSayfaHaberOku" class=" control-label">@Model.AnaSayfaHaberOku (Buton Yazısı)</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaHaberOku" id="AnaSayfaHaberOku" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="AnaSayfaUrunlerBaslik" class=" control-label">@Model.AnaSayfaUrunlerBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaUrunlerBaslik" id="AnaSayfaUrunlerBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AnaSayfaBlogBaslik" class=" control-label">@Model.AnaSayfaBlogBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="AnaSayfaBlogBaslik" id="AnaSayfaBlogBaslik" />
                                </div>
                            </div>
                        </div>
                    </div>


                    @*entity.GenelBiziTakipEt = dto.GenelBiziTakipEt;
                        entity.GenelBizdenHaberdarOl = dto.GenelBizdenHaberdarOl;
                        entity.GenelInstagram = dto.GenelInstagram;*@

                    <div id="genel" class="tabCaption">


                        <div class="main-box-header">
                            <h3>Genel Sayfa Ayarları</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="GenelBiziTakipEt" class=" control-label">@Model.GenelBiziTakipEt</label>
                                <div>
                                    <input type="text" class="form-control" name="GenelBiziTakipEt" id="GenelBiziTakipEt" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="GenelBizdenHaberdarOl" class=" control-label">@Model.GenelBizdenHaberdarOl</label>
                                <div>
                                    <input type="text" class="form-control" name="GenelBizdenHaberdarOl" id="GenelBizdenHaberdarOl" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="GenelEpostaGir" class=" control-label">@Model.GenelEpostaGir</label>
                                <div>
                                    <input type="text" class="form-control" name="GenelEpostaGir" id="GenelEpostaGir" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="GenelInstagram" class=" control-label">@Model.GenelInstagram</label>
                                <div>
                                    <input type="text" class="form-control" name="GenelInstagram" id="GenelInstagram" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="iletisim" class="tabCaption">


                        <div class="main-box-header">
                            <h3>İletişim Sayfası</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="IletisimBilgiBaslik" class=" control-label">@Model.IletisimBilgiBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimBilgiBaslik" id="IletisimBilgiBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimEMailBaslik" class=" control-label">@Model.IletisimEMailBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimEMailBaslik" id="IletisimEMailBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimAdresBaslik" class=" control-label">@Model.IletisimAdresBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimAdresBaslik" id="IletisimAdresBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimFormBaslik" class=" control-label">@Model.IletisimFormBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimFormBaslik" id="IletisimFormBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimIsim" class=" control-label">@Model.IletisimIsim</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimIsim" id="IletisimIsim" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimKonu" class=" control-label">@Model.IletisimKonu</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimKonu" id="IletisimKonu" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimTelefon" class=" control-label">@Model.IletisimTelefon</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimTelefon" id="IletisimTelefon" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimEMail" class=" control-label">@Model.IletisimEMail</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimEMail" id="IletisimEMail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimMesaj" class=" control-label">@Model.IletisimMesaj</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimMesaj" id="IletisimMesaj" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IletisimGonder" class=" control-label">@Model.IletisimGonder</label>
                                <div>
                                    <input type="text" class="form-control" name="IletisimGonder" id="IletisimGonder" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="blogDetay" class="tabCaption">


                        <div class="main-box-header">
                            <h3>Blog Detay</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="BlogDetayIliskiliPost" class=" control-label">@Model.BlogDetayIliskiliPost</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayIliskiliPost" id="BlogDetayIliskiliPost" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayYorumSayi" class=" control-label">@Model.BlogDetayYorumSayi</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayYorumSayi" id="BlogDetayYorumSayi" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayYorumBaslik" class=" control-label">@Model.BlogDetayYorumBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayYorumBaslik" id="BlogDetayYorumBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayIsim" class=" control-label">@Model.BlogDetayIsim</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayIsim" id="BlogDetayIsim" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayEmail" class=" control-label">@Model.BlogDetayEmail</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayEmail" id="BlogDetayEmail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayWebSite" class=" control-label">@Model.BlogDetayWebSite</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayWebSite" id="BlogDetayWebSite" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayYorumYaz" class=" control-label">@Model.BlogDetayYorumYaz</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayYorumYaz" id="BlogDetayYorumYaz" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BlogDetayGonder" class=" control-label">@Model.BlogDetayGonder</label>
                                <div>
                                    <input type="text" class="form-control" name="BlogDetayGonder" id="BlogDetayGonder" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="footer" class="tabCaption">


                        <div class="main-box-header">
                            <h3>Footer</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="FooterEnSonBloglar" class=" control-label">@Model.FooterEnSonBloglar</label>
                                <div>
                                    <input type="text" class="form-control" name="FooterEnSonBloglar" id="FooterEnSonBloglar" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FooterHaberdarOlAciklama" class=" control-label">@Model.FooterHaberdarOlAciklama</label>
                                <div>
                                    <input type="text" class="form-control" name="FooterHaberdarOlAciklama" id="FooterHaberdarOlAciklama" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="insanKaynaklari" class="tabCaption">
                        <div class="main-box-header">
                            <h3>İnsan Kaynakları</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <label for="InsanKaynaklariBaslik" class=" control-label">@Model.InsanKaynaklariBaslik</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariBaslik" id="InsanKaynaklariBaslik" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariAd" class=" control-label">@Model.InsanKaynaklariAd</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariAd" id="InsanKaynaklariAd" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariSoyad" class=" control-label">@Model.InsanKaynaklariSoyad</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariSoyad" id="InsanKaynaklariSoyad" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariMail" class=" control-label">@Model.InsanKaynaklariMail</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariMail" id="InsanKaynaklariMail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariTelefon" class=" control-label">@Model.InsanKaynaklariTelefon</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariTelefon" id="InsanKaynaklariTelefon" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariDosyaSec" class=" control-label">@Model.InsanKaynaklariDosyaSec</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariDosyaSec" id="InsanKaynaklariDosyaSec" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariMesaj" class=" control-label">@Model.InsanKaynaklariMesaj</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariMesaj" id="InsanKaynaklariMesaj" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InsanKaynaklariGonder" class=" control-label">@Model.InsanKaynaklariGonder</label>
                                <div>
                                    <input type="text" class="form-control" name="InsanKaynaklariGonder" id="InsanKaynaklariGonder" />
                                </div>
                            </div>

                            <input type="hidden" style="display:none" id="Content" name="InsanKaynaklariIcerik" />

                            <div class="form-group">
                                <label for="content" class=" control-label">İnsan Kaynakları Sol Kısımdaki İçerik</label>
                                <div>
                                    <div class="example-box-wrapper">
                                        <div id="summerNoteContent">
                                            <div class="wysiwyg-editor" id="summerNote" style="display: none;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="main-box-body">
                            <div class="form-group">
                                <div>
                                    <div><button style="margin-top:10px" type="submit" class="btn btn-success">Kaydet</button></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>








        </div>

        @*<div class="col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="main-box-header">
                            <h3>Sayfa adı seçilebilir bu alandan</h3>
                        </div>
                        <div class="main-box-body">
                            <div class="form-group">



                            </div>
                        </div>
                    </div>

                </div>
            </div>*@
    </div>

}

<script>

    //$(function () {
    //    $("#tabs").tabs();
    //});

    $(function () {
        GetFicedAreas();
    })

    $("select#LanguageId.form-control").change(function () {
        GetFicedAreas();
    })


    function GetFicedAreas() {
        var langId = $("select#LanguageId.form-control").val();
        $.ajax({
            url: "FixedArea/GetFixedAreaById",
            type: "POST",
            data: { id: langId },
            success: function (result) {
                console.log(result)
                if (result.State == 1) {
                    $("#IletisimFormBaslik").val(result.Result.IletisimFormBaslik)
                    $("#IletisimGonder").val(result.Result.IletisimGonder)
                    $("#IletisimIsim").val(result.Result.IletisimIsim)
                    $("#IletisimKonu").val(result.Result.IletisimKonu)
                    $("#IletisimTelefon").val(result.Result.IletisimTelefon)
                    $("#IletisimEMail").val(result.Result.IletisimEMail)
                    $("#IletisimMesaj").val(result.Result.IletisimMesaj)
                    $("#IletisimBilgiBaslik").val(result.Result.IletisimBilgiBaslik)
                    $("#IletisimAdresBaslik").val(result.Result.IletisimAdresBaslik)
                    $("#IletisimEMailBaslik").val(result.Result.IletisimEMailBaslik)


                    $("#AnaSayfa").val(result.Result.AnaSayfa)
                    $("#AnaSayfaKurumsal").val(result.Result.AnaSayfaKurumsal)
                    $("#AnaSayfaHizmetlerimiz").val(result.Result.AnaSayfaHizmetlerimiz)
                    $("#AnaSayfaUrunlerimiz").val(result.Result.AnaSayfaUrunlerimiz)
                    $("#AnaSayfaBlog").val(result.Result.AnaSayfaBlog)
                    $("#AnaSayfaIletisim").val(result.Result.AnaSayfaIletisim)
                    $("#AnaSayfaHaber").val(result.Result.AnaSayfaHaber)
                    $("#AnaSayfaUrunlerBaslik").val(result.Result.AnaSayfaUrunlerBaslik)
                    $("#AnaSayfaBlogBaslik").val(result.Result.AnaSayfaBlogBaslik)

                    $("#FooterEnSonBloglar").val(result.Result.FooterEnSonBloglar)
                    $("#FooterHaberdarOlAciklama").val(result.Result.FooterHaberdarOlAciklama)



                    $("#InsanKaynaklariBaslik").val(result.Result.InsanKaynaklariBaslik)
                    $("#InsanKaynaklariAd").val(result.Result.InsanKaynaklariAd)
                    $("#InsanKaynaklariSoyad").val(result.Result.InsanKaynaklariSoyad)
                    $("#InsanKaynaklariMail").val(result.Result.InsanKaynaklariMail)
                    $("#InsanKaynaklariTelefon").val(result.Result.InsanKaynaklariTelefon)
                    $("#InsanKaynaklariDosyaSec").val(result.Result.InsanKaynaklariDosyaSec)
                    $("#InsanKaynaklariMesaj").val(result.Result.InsanKaynaklariMesaj)
                    $("#InsanKaynaklariGonder").val(result.Result.InsanKaynaklariGonder)
                    $("#InsanKaynaklariIcerik").val(result.Result.InsanKaynaklariIcerik)

                    $("#AnaSayfaInsanKaynaklari").val(result.Result.AnaSayfaInsanKaynaklari)
                    $("#AnaSayfaHaberOku").val(result.Result.AnaSayfaHaberOku)




                    $("#BlogDetayIliskiliPost").val(result.Result.BlogDetayIliskiliPost)
                    $("#BlogDetayYorumSayi").val(result.Result.BlogDetayYorumSayi)
                    $("#BlogDetayYorumBaslik").val(result.Result.BlogDetayYorumBaslik)
                    $("#BlogDetayIsim").val(result.Result.BlogDetayIsim)
                    $("#BlogDetayEmail").val(result.Result.BlogDetayEmail)
                    $("#BlogDetayWebSite").val(result.Result.BlogDetayWebSite)
                    $("#BlogDetayYorumYaz").val(result.Result.BlogDetayYorumYaz)
                    $("#BlogDetayGonder").val(result.Result.BlogDetayGonder)



                    $("#GenelBiziTakipEt").val(result.Result.GenelBiziTakipEt)
                    $("#GenelBizdenHaberdarOl").val(result.Result.GenelBizdenHaberdarOl)
                    $("#GenelEpostaGir").val(result.Result.GenelEpostaGir)
                    $("#GenelInstagram").val(result.Result.GenelInstagram)


                    $("div.note-editor div.note-editable").html(result.Result.InsanKaynaklariIcerik);




                } else if (result.State == 2) {
                    $("#IletisimFormBaslik").val('')
                    $("#IletisimGonder").val('')
                    $("#IletisimIsim").val('')
                    $("#IletisimKonu").val('')
                    $("#IletisimTelefon").val('')
                    $("#IletisimEMail").val('')
                    $("#IletisimMesaj").val('')
                    $("#IletisimBilgiBaslik").val('')
                    $("#IletisimAdresBaslik").val('')
                    $("#IletisimEMailBaslik").val('')


                    $("#AnaSayfa").val('')
                    $("#AnaSayfaKurumsal").val('')
                    $("#AnaSayfaHizmetlerimiz").val('')
                    $("#AnaSayfaUrunlerimiz").val('')
                    $("#AnaSayfaIletisim").val('')
                    $("#AnaSayfaUrunlerBaslik").val('')
                    $("#AnaSayfaBlogBaslik").val('')

                    $("#FooterEnSonBloglar").val('')
                    $("#FooterHaberdarOlAciklama").val('')



                    $("#InsanKaynaklariBaslik").val('')
                    $("#InsanKaynaklariAd").val('')
                    $("#InsanKaynaklariSoyad").val('')
                    $("#InsanKaynaklariMail").val('')
                    $("#InsanKaynaklariTelefon").val('')
                    $("#InsanKaynaklariDosyaSec").val('')
                    $("#InsanKaynaklariMesaj").val('')
                    $("#InsanKaynaklariGonder").val('')
                    $("#InsanKaynaklariIcerik").val('')

                    $("#AnaSayfaInsanKaynaklari").val('')
                    $("#AnaSayfaHaberOku").val('')


                    $("#BlogDetayIliskiliPost").val('')
                    $("#BlogDetayYorumSayi").val('')
                    $("#BlogDetayYorumBaslik").val('')
                    $("#BlogDetayIsim").val('')
                    $("#BlogDetayEmail").val('')
                    $("#BlogDetayWebSite").val('')
                    $("#BlogDetayYorumYaz").val('')
                    $("#BlogDetayGonder").val('')

                    $("#GenelBiziTakipEt").val('')
                    $("#GenelBizdenHaberdarOl").val('')
                    $("#GenelEpostaGir").val('')
                    $("#GenelInstagram").val('')

                    $("div.note-editor div.note-editable").html('');

                } else {
                    jsError(result.Message);
                }
            }
        })
    }


    /* WYSIWYG editor */

    $(function () {
        "use strict";
        $('.wysiwyg-editor').summernote({
            height: 350
        });
    });

    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    $("#summerNoteContent").mouseleave(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

    $("button[type=submit]").hover(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })




    $("ul#tabList li").click(function () {
        var selectedTab = $(this).attr("data-tab");
        $(".tabCaption#" + selectedTab).css("display", "block");
        $(".tabCaption:not(#" + selectedTab + ")").css("display", "none");
        $(this).addClass("active")
        $.each($("ul#tabList li"), function () {
            var tabName = $(this).attr("data-tab");
            if (tabName != selectedTab) {
                $(this).removeClass("active");
            }
        })
    })

    $(function () {
        var selectedTab = "anaSayfa";
        $(".tabCaption#" + selectedTab).css("display", "block");
        $(".tabCaption:not(#" + selectedTab + ")").css("display", "none");
        $("#anaSayfa").addClass("active")
        $.each($("ul#tabList li"), function () {
            var tabName = $(this).attr("data-tab");
            if (tabName != selectedTab) {
                $(this).removeClass("active");
            }
        })
    })

</script>
