@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model CategoryDto

@{
    ViewBag.PageTitle = "Kategori Ayarları";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;


    List<CategoryDto> allCategories = ViewBag.AllCategories;


    var asdx = 7;
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-group div img {
        width: 100px !important;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
    }
</style>


@Html.Raw(ViewBag.Message)

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal bordered-row", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>

    <div class="row main-box">


        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Kategori Düzenle</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label id="LanguageId" class="control-label">Kategori Dil</label>
                            <div>
                                <select class="form-control" id="LanguageId" name="LanguageId">
                                    @if (languages != null)
                                    {
                                        if (languages.Count > 0)
                                        {
                                            foreach (var language in languages)
                                            {
                                                <option value="@language.Id">@language.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="MainCatId" class="control-label">Üst Kategori</label>
                            <div>
                                <select class="form-control" id="MainCatId" name="MainCatId">
                                    <option data-langId="0" value="0">Ana Kategori</option>
                                    @if (allCategories != null)
                                    {
                                        if (allCategories.Count > 0)
                                        {
                                            foreach (var item in allCategories)
                                            {
                                                <option data-langId="@item.LanguageId" value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Name)
                            <label for="Name" class=" control-label">Kategori Başlık</label>
                            <div>
                                <input type="text" required class="form-control" name="Name" id="Name" value="@Model.Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description" class="float-left control-label ">Kategori Özet</label>
                            <div>
                                <textarea type="text" class="form-control" name="Description" id="Description" rows="5">@Model.Description</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Video1" class=" control-label">Video 1</label>
                            <div>
                                <input type="text" class="form-control" name="Video1" id="Video1" value="@Model.Video1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Video2" class=" control-label">Video 2</label>
                            <div>
                                <input type="text" class="form-control" name="Video2" id="Video2" value="@Model.Video2" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Video3" class=" control-label">Video 3</label>
                            <div>
                                <input type="text" class="form-control" name="Video3" id="Video3" value="@Model.Video3" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="rowNumber" class="control-label">Sıra No</label>
                            <div>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <input type="text" name="OldBig" value="@Model.ImageBig" style="display:none" />
        <input type="text" name="OldSmall" value="@Model.ImageSmall" style="display:none" />


        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Görsel Ayarları</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <div>
                                <img src="~/Images/Categories/@Model.ImageBig" />
                            </div>
                            <label for="image1" class="control-label">Kategori Büyük Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image1" name="file1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <img src="~/Images/Categories/@Model.ImageSmall" />
                            </div>
                            <label for="image2" class="control-label">Kategori Küçük Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image2" name="file2">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Seo Ayarları</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label for="SeoTitle" class="float-left control-label ">Seo Title</label>
                            <div>
                                <input type="text" class="form-control" name="SeoTitle" id="SeoTitle" value="@Model.SeoTitle" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="SeoDescription" class="float-left control-label ">Seo Description</label>
                            <div>
                                <textarea type="text" class="form-control" name="SeoDescription" id="SeoDescription" rows="5">@Model.SeoDescription</textarea>
                            </div>
                        </div>

                        <div style="padding-top:10px"><button type="submit" class="btn btn-success">Kaydet</button></div>

                    </div>

                </div>
            </div>
        </div>
    </div>

}


<script>

     $(function () {
        if ('@Model.LanguageId' != 0) {
             var languageId = @Model.LanguageId;
        $("select#LanguageId.form-control").val(languageId);
        }

        if ('@Model.MainCatId' != 0) {
            var mainId=@Model.MainCatId;
            $("select#MainCatId.form-control").val(mainId);
        }
    })


    /* WYSIWYG editor */

    $(function () {
        "use strict";
        $('.wysiwyg-editor').summernote({
            height: 350
        });
    });

    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    @*$("#summerNoteContent").mouseleave(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

         $(function () {
         $("div.note-editor div.note-editable").html('@Html.Raw(Model.Content)');
    })*@

    $(function () {
        var mainId = $("select#LanguageId.form-control").val();
        $.each($("select#MainCatId.form-control option"), function () {
            var langId = $(this).attr("data-langId");
            if (langId != 0) {
                if (langId == mainId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            } else {

            }

        })
    })


    $("select#LanguageId.form-control").change(function () {
        var mainId = $(this).val();
        $.each($("select#MainCatId.form-control option"), function () {
            $("select#MainCatId.form-control").val('');
            var langId = $(this).attr("data-langId");
            if (langId != 0) {
                if (langId == mainId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            } else {
                //O dile ait ama menü formatı yazdırılabilir ekrana...
            }
        })
    })


</script>
