@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model ContactMailDto

@{
    ViewBag.Title = "İletişim Mesaj";
    ViewBag.PageTitle = "İletişim Mesaj";
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        margin-left: 10px;
        margin-right: 10px;
    }


    label {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@Html.Raw(ViewBag.Message)


<input type="text" style="display:none" id="id" value="@Model.Id" />

<div id="message"></div>

<div class="row main-box">


    <div class="col-lg-8">
        <div class="panel">
            <div class="panel-body">
                <div class="main-box-header">
                    <h3>Mesaj Detay</h3>
                </div>
                <div class="main-box-body">


                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mesaj Başlık</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Caption</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Kullanıcı Ad Soyad</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Name @Model.Surname</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Kullanıcı Telefon</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Phone</label>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">Kullanıcı Mail</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Mail</label>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mesaj Tarihi</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Date</label>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mesaj</label>
                        <label class="col-lg-9" style="font-weight:normal">@Model.Content</label>
                    </div>


                </div>
            </div>
        </div>
    </div>






</div>




<script>

   

</script>
