@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model MenuDto

@{
    ViewBag.Title = "Menu Ekle";
    ViewBag.PageTitle = "Menu Ekle";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;

    List<MenuDto> allMenus = ViewBag.AllMenus;

}



<div class="panel">
    <div class="panel-body">
        @Html.Raw(ViewBag.Message)

        @using (Ajax.BeginForm("Edit", "Menu", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal bordered-row" }))
        {
            @Html.AntiForgeryToken()

            <div id="message"></div>

            <div class="form-group">
                <label id="LanguageId" class="col-sm-3 control-label">Menu Dil</label>
                <div class="col-sm-6">
                    <select class="form-control"  id="LanguageId" name="LanguageId">
                        @if (languages != null)
                        {
                            if (languages.Count > 0)
                            {
                                foreach (var language in languages)
                                {
                                    <option data-id="@language.Id" value="@language.Id">@language.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label id="MainId" class="col-sm-3 control-label">Üst Menü</label>
                <div class="col-sm-6">
                    <select class="form-control" id="MainId" name="MainId">
                        <option data-langId="0" value="0">Ana Menü</option>
                        @if (allMenus != null)
                        {
                            if (allMenus.Count > 0)
                            {
                                foreach (var menu in allMenus)
                                {
                                    <option data-langId="@menu.LanguageId" value="@menu.Id">@menu.Caption</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>


            <div class="form-group">
                @Html.ValidationMessageFor(x => x.Caption)
                <label for="Caption" class=" col-sm-3 control-label">Menu Başlık</label>
                <div class="col-sm-6">
                    <input type="text" required class="form-control" name="Caption" id="Caption" value="@Model.Caption" />
                </div>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(x => x.Url)
                <label for="url" class="float-left col-sm-3 control-label  float-left !important">Menu Url</label>
                <div class="col-sm-6">
                    <input type="text" required class="form-control" name="Url" id="url" value="@Model.Url" />
                </div>
            </div>




            <div class="form-group">
                <label for="rowNumber" class="col-sm-3 control-label">Sıra No</label>
                <div class="col-sm-6">
                    <div class="input-group bootstrap-touchspin">
                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                        <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                    </div>
                </div>
            </div>

            <input type="text" style="display:none" id="openNewHidden" value='@Model.OpenNewTab' name="OpenNewTab" />

            <div class="form-group">
                <label for="ac" class=" col-sm-3 control-label">Yeni Sayfada Aç</label>
                <div class="col-sm-6">
                    @if (Model.OpenNewTab == true)
                    {
                        <input type="checkbox" checked class="checkbox-success" id="openNew" />
                    }
                    else
                    {
                        <input type="checkbox" class="checkbox-success" id="openNew" />
                    }

                </div>
            </div>


            <div class="col-sm-3"></div>
            <div class="col-sm-6"><button type="submit" class="btn btn-success">Kaydet</button></div>
        }
    </div>
</div>


<script>

    $(function () {
        if ('@Model.LanguageId' != 0) {
             var languageId = @Model.LanguageId;
        $("select#LanguageId.form-control").val(languageId);
        }

        if ('@Model.MainId' != 0) {
            var mainId=@Model.MainId;
            $("select#MainId.form-control").val(mainId);
        }
    })

    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    $("#openNew").change(function () {
        if (this.checked) {
            $('#openNewHidden').val("true");
        }
        else {
            $('#openNewHidden').val("false");
        }
    });

     $(function () {
        if ('@Model.OpenNewTab' == "True") {
            $("#openNew").prop('checked', true);
            $("#openNewHidden").val("true");
        } else {
            $("#openNew").prop('checked', false);
            $("#openNewHidden").val("false");
        }
    })



    $(function () {
        var mainId = $("select#LanguageId.form-control").val();
        $.each($("select#MainId.form-control option"), function () {
            var langId = $(this).attr("data-langId");
            if (langId != 0) {
                if (langId == mainId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            } else {

            }

        })
    })


    $("select#LanguageId.form-control").change(function () {
        var mainId = $(this).val();
        $.each($("select#MainId.form-control option"), function () {
            $("select#MainId.form-control").val('');
            var langId = $(this).attr("data-langId");
            if (langId != 0) {
                if (langId == mainId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            } else {
                //O dile ait ama menü formatı yazdırılabilir ekrana...
            }
        })
    })

</script>
