@using EddarsCms.UserSides
@using EddarsCms.Common
@using EddarsCms.Dto.BasicDtos

@{
    FixedAreaDto fixedArea = (FixedAreaDto)this.ViewData["fixedArea"];
    ContactInfoDto contactInfo = (ContactInfoDto)this.ViewData["contactInfo"];
    List<SocialMediaDto> socialMedias = (List<SocialMediaDto>)this.ViewData["socialMedias"];
    PageDto aboutUsPage = (PageDto)this.ViewData["aboutUsPage"];
    List<BlogDto> blog3 = (List<BlogDto>)this.ViewData["blog3"];

}


<!-- start footer -->
<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom sm-padding-30px-bottom">
    <div class="bg-dark-footer padding-50px-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row align-items-center">
                <!-- start slogan -->
                <div class="col-lg-4 col-md-5 text-center alt-font sm-margin-15px-bottom">
                    @*London based highly creative studio*@
                </div>
                <!-- end slogan -->
                <!-- start logo -->
                <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                    <a href="@Url.Action("Index","Home")" title="@contactInfo.Name"><img class="footer-logo" src="~/Images/ContactInfos/@contactInfo.Image" data-rjs="images/logo-white@2x.png" alt="@contactInfo.Name"></a>
                </div>
                <!-- end logo -->
                <!-- start social media -->
                <div class="col-lg-4 col-md-5 text-center">
                    <span class="alt-font margin-20px-right"></span>
                    <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                        <ul class="small-icon mb-0">
                            @if (socialMedias != null)
                            {
                                if (socialMedias.Count > 0)
                                {
                                    foreach (var item in socialMedias)
                                    {
                                        //class facebook vardı onceden sildik
                                        <li><a class="instagram text-white-2" href="@item.Url" target="_blank"><i class="fab fa-@item.Icon"></i></a></li>
                                    }
                                }
                            }


                        </ul>
                    </div>
                </div>
                <!-- end social media -->
            </div>
        </div>
    </div>
    <div class="footer-widget-area padding-five-top padding-30px-bottom sm-padding-30px-top">
        <div class="container">
            <div class="row">
                <!-- start about -->
                <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom text-center text-md-left last-paragraph-no-margin">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">@aboutUsPage.Caption</div>
                    <p class="text-small width-95 sm-width-100">@aboutUsPage.Description</p>
                </div>
                <!-- end about -->
                <!-- start blog post -->
                <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 text-center text-md-left">@fixedArea.FooterEnSonBloglar</div>
                    <ul class="latest-post position-relative">
                        @if (blog3 != null)
                        {
                            if (blog3.Count > 0)
                            {
                                foreach (var item in blog3)
                                {
                                    <li class="media border-bottom border-color-medium-dark-gray">
                                        <figure>
                                            <a href="@Url.Action("Detay","Bloglar",new {id=item.Id,url=item.Url })" title="@item.Caption"><img style="width:60px" src="~/Images/Blogs/@item.ImageBig" alt="@item.Caption"></a>
                                        </figure>
                                        <div class="media-body text-small"><a href="@Url.Action("Detay","Bloglar",new {id=item.Id,url=item.Url })" class="d-block mb-1">@item.Caption</a> <span class="clearfix"></span>@item.CreatedDate.ToString("dd MMMM yyyy")</div>
                                    </li>
                                }

                            }
                        }

                    </ul>
                </div>
                <!-- end blog post -->
                <!-- start newsletter -->
                <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom text-center text-md-left">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">@fixedArea.GenelBizdenHaberdarOl</div>
                    <p class="text-small width-90 sm-width-100">@fixedArea.FooterHaberdarOlAciklama</p>
                    <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                        <div class="position-relative newsletter width-95">
                            <div id="success-subscribe-newsletter" class="mx-0"></div>
                            <input type="text" id="email" name="email" class="bg-transparent text-small m-0 border-color-medium-dark-gray" placeholder="@fixedArea.GenelEpostaGir">
                            <button id="button-subscribe-newsletter" onclick="jsSendInfoMail()" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray"><i class="fas fa-caret-right no-margin-left"></i></button>
                            <div id="errorMessageFooter"></div>
                        </div>
                    </form>
                </div>
                <!-- end newsletter -->
                <!-- start instagram -->
                <div class="col-lg-3 col-md-6 widget md-margin-5px-bottom text-center text-md-left">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">@fixedArea.GenelInstagram</div>
                    <div class="instagram-follow-api">
                        <ul id="instaFeed-footer"></ul>
                    </div>
                </div>
                <!-- end instagram -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
            <div class="row">
                <!-- start copyright -->
                <div class="col-lg-6 col-md-6 text-small text-md-left text-center"></div>
                <div class="col-lg-6 col-md-6 text-small text-md-right text-center">&COPY; 2019 Copyright tüm hakları saklıdır</div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->



<script>
    function jsSendInfoMail() {
        var email = $("#email").val();
        if (email == "") {
            $("#errorMessageFooter").html('Lütfen e-posta alanını doldurunuz');
            return;
        }

        if (!checkEmailAddress(email)) {
            $("#errorMessageFooter").html('Lütfen uygun formatta bir e-posta giriniz ');
            return;
        }

        $.ajax({
            url: "/Home/SendInfoMail",
            type: "POST",
            data: { Mail: email },
            success: function (result) {
                if (result > 0) {
                    $("#errorMessageFooter").html('');
                    $("#email").val('');
                    $("#errorMessageFooter").html('E-posta kaydınız alınmıştır.');
                } else {
                    $("#errorMessageFooter").html('İşleminiz başarısız');
                }
            },
            error: function () {
                $("#errorMessageFooter").html('İşleminiz başarısız');
            }

        })
    }

    function checkEmailAddress(emailAddress) {
        var reg = new RegExp(/^[^0-9][a-zA-z0-9_]+([.][a-zA-z0-9_]+)*[@@][a-zA-z0-9_]+([.][a-zA-z0-9_]+)*[.][a-zA-Z]{2,4}$/i);
        return reg.test(emailAddress);
    };

</script>
