@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model SliderDto

@{
    ViewBag.Title = "Slider Ayarları";
    ViewBag.PageTitle = "Slider Ayarları";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}


<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>


@Html.Raw(ViewBag.Message)

@using (Html.BeginForm("Create", "Slider", FormMethod.Post, new { @class = "form-horizontal bordered-row", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>

    <div class="row main-box">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <header class="main-box-header">
                        <h3>Slider Ekle</h3>
                    </header>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label id="LanguageId" class=" control-label">Slider Dil</label>
                            <div>
                                <select class="form-control" id="LanguageId" name="LanguageId">
                                    @if (languages != null)
                                    {
                                        if (languages.Count > 0)
                                        {
                                            foreach (var language in languages)
                                            {
                                                <option value="@language.Id">@language.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Caption)
                            <label for="Caption" class="  control-label">Slider Başlık</label>
                            <div>
                                <input type="text" required class="form-control" name="Caption" id="Caption" value="@Model.Caption" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description" class="float-left  control-label ">Slider Açıklama</label>
                            <div>
                                <textarea type="text" class="form-control" name="Description" id="Description" rows="5">@Model.Description</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ButtonText" class="  control-label">Slider Buton Yazı</label>
                            <div>
                                <input type="text" class="form-control" name="ButtonText" id="ButtonText" value="@Model.ButtonText" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Url)
                            <label for="url" class="float-left  control-label  float-left !important">Slider Url</label>
                            <div>
                                <input type="text" required class="form-control" name="Url" id="url" value="@Model.Url" />
                            </div>
                        </div>





                        <div class="form-group">
                            <label for="rowNumber" class=" control-label">Sıra No</label>
                            <div>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                                </div>
                            </div>
                        </div>

                        <input type="text" style="display:none" id="openNewHidden" value='@Model.OpenNewTab' name="OpenNewTab" />

                        <div class="form-group">
                            <label for="ac" class="  control-label">Yeni Sayfada Aç</label>
                            <div>
                                @if (Model.OpenNewTab == true)
                                {
                                    <input type="checkbox" checked class="checkbox-success" id="openNew" />
                                }
                                else
                                {
                                    <input type="checkbox" class="checkbox-success" id="openNew" />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <header class="main-box-header">
                        <h3>Görsel Ayarları</h3>
                    </header>
                    <div class="main-box-body">
                        <div class="form-group">

                            <label for="image1" class="control-label">Slider Kapak Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image1" name="file1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image2" class="control-label">Slider Büyük Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image2" name="file2">
                            </div>
                            <div style="padding-top:10px"><button type="submit" class="btn btn-success">Kaydet</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
}


<script>

      $(function () {
        if ('@Model.LanguageId' != 0) {
             var languageId = @Model.LanguageId;
        $("select#LanguageId.form-control").val(languageId);
        }
    })


    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    $("#openNew").change(function () {
        if (this.checked) {
            $('#openNewHidden').val("true");
        }
        else {
            $('#openNewHidden').val("false");
        }
    });

     $(function () {
        if ('@Model.OpenNewTab' == "True") {
            $("#openNew").prop('checked', true);
            $("#openNewHidden").val("true");
        } else {
            $("#openNew").prop('checked', false);
            $("#openNewHidden").val("false");
        }
    })

</script>
