@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services

@model List<DutyDto>
@{
    ViewBag.PageTitle = "Hizmet Ayarları";

    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;



}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

<div class="row">
    <div class="col-sm-8 float-left">
        <a href="@Url.Action("Create","Duty")" class="btn btn-primary">Yeni ekle</a>
    </div>
    <div class="form-group float-right col-sm-4">
        <label for="LanguageId" class="col-sm-3 control-label" style="padding-top: 8px;padding-left:40px">Dil</label>
        <div class="col-sm-6">
            <select class="form-control" id="LanguageId">
                @if (languages != null)
                {
                    if (languages.Count > 0)
                    {
                        foreach (var language in languages)
                        {
                            <option value="@language.Id">@language.Name</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
</div>



@Html.Raw(ViewBag.Message)

<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>Başlık</th>
                <th style="width:30%">Url</th>
                <th style="width:10%">Sıra No</th>
                <th style="width:22%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr id="row-@item.Id" data-id="@item.Id">
                            <td>@item.Caption</td>
                            <td>@item.Url</td>
                            <td style="width:10%" class="rowNumber">@item.RowNumber</td>
                            @if (item.State == true)
                            {
                                <td style="width:22%">
                                    <button class="btn btn-success" onclick="jsChangeState(@item.Id)" id="btn-@item.Id" data-state='@item.State'>Aktif</button>
                                    <button onclick="jsDelete(@item.Id)" class="btn btn-danger">Sil</button>
                                    <a href="@Url.Action("Edit","Duty",new {id=item.Id })" class="btn btn-warning">Düzenle</a>
                                </td>
                            }
                            else
                            {
                                <td style="width:22%">
                                    <button class="btn btn-danger" onclick="jsChangeState(@item.Id)" id="btn-@item.Id" data-state='@item.State'>Pasif</button>
                                    <button onclick="jsDelete(@item.Id)" class="btn btn-danger">Sil</button>
                                    <a href="@Url.Action("Edit","Duty",new {id=item.Id })" class="btn btn-warning">Düzenle</a>
                                </td>

                            }
                        </tr>

                    }
                }
            }
        </tbody>
    </table>


</div>



<script>

    function jsChangeState(id) {
        var btn = $("#btn-" + id);
        var state = btn.attr("data-state");
        if (state.toLowerCase() == "true") {
            $.ajax({
                url: "/Duty/ChangeState/",
                type: "POST",
                data: { id: id, state: "False" },
                success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);
                    }
                    else {
                        jsSuccess(result.Message);
                        btn.attr("data-state", "False");
                        btn.text("Pasif")
                        btn.removeClass("btn-success");
                        btn.addClass("btn-danger");
                    }
                }
            })
        }
        else {
            $.ajax({
                url: "/Duty/ChangeState/",
                type: "POST",
                data: { id: id, state: "True" },
                success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);
                    }
                    else {
                        jsSuccess(result.Message);
                        btn.attr("data-state", "True");
                        btn.text("Aktif")
                        btn.removeClass("btn-danger");
                        btn.addClass("btn-success");
                    }
                }
            })
        }
    }




    function jsDelete(id) {
        if (confirm('Seçilen öğeyi silmek istediğinize emin misiniz?')) {
            $.ajax({
                url: "/Duty/Delete", type: "POST", data: { id: id }, success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);

                    }
                    else {
                        jsSuccess(result.Message);
                        $("#row-" + id).remove();
                    }
                }
            })
        }
    }

    var arr = new Array();
    $("table tbody").sortable({
        update: function (event, ui) {
            $(this).children().each(function (index) {
                $(this).find('td.rowNumber').html(index + 1)
                var id = $(this).attr("data-id");
                var rowNumber = $(this).find('td.rowNumber').html()


                //mevcut id ve sıra numarasını bir listeye atıyoruz.
                arr.push({ "id": id, "rowNumber": rowNumber });
            });
            console.log(arr);

            $.ajax({
                url: "/Duty/Reorder/",
                type: "POST",
                data: { list: arr },
                success: function (result) {
                    if (result.State == 1) {
                        arr = [];
                        jsSuccess(result.Message);

                    } else {
                        jsError(result.Message);

                    }
                }
            })
        }
    });



    $("#LanguageId").change(function () {
        var langId = $(this).val();
        $.ajax({
            url: "/Duty/GetByLangId",
            type: "POST",
            data: { id: langId },
            success: function (result) {
                if (result.State == 1) {
                    $("table tbody").html("");
                    $.each(result.Result, function (i, v) {
                        console.log(v.State)
                        if (v.State == true) {
                            var row = "<tr id=row-" + v.Id + " data-id=" + v.Id + "><td>" + v.Caption + "</td><td>" + v.Url + "</td><td style='width:10%' class='rowNumber'>" + v.RowNumber + "</td><td style='width:22%'><button style='margin:2px' class='btn btn-success' onclick='jsChangeState(" + v.Id + ")' id='btn-" + v.Id + "' data-state='" + v.State + "'>Aktif</button><button style='margin:2px' onclick='jsDelete(" + v.Id + ")' class='btn btn-danger'>Sil</button><a style='margin:2px' href='/Management/Duty/Edit/" + v.Id + "' class='btn btn-warning'>Düzenle</a></td></tr>";

                            $("table tbody").append(row);
                        } else {
                            var row = "<tr id=row-" + v.Id + " data-id=" + v.Id + "><td>" + v.Caption + "</td><td>" + v.Url + "</td><td style='width:10%' class='rowNumber'>" + v.RowNumber + "</td><td style='width:22%'><button style='margin:2px' class='btn btn-danger' onclick='jsChangeState(" + v.Id + ")' id='btn-" + v.Id + "' data-state='" + v.State + "'>Pasif</button><button style='margin:2px' onclick='jsDelete(" + v.Id + ")' class='btn btn-danger'>Sil</button><a style='margin:2px' href='/Management/Duty/Edit/" + v.Id + "' class='btn btn-warning'>Düzenle</a></td></tr>";

                            $("table tbody").append(row);
                        }
                    })


                } else {
                    jsError(result.Message);
                }
            }
        })
    })



</script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>