@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model BlogCommentDto

@{
    ViewBag.Title = "Blog Yorum";
    ViewBag.PageTitle = "Blog Yorum";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        margin-left: 10px;
        margin-right: 10px;
    }


    label {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@Html.Raw(ViewBag.Message)


<input type="text" style="display:none" id="id" value="@Model.Id" />

<div id="message"></div>

<div class="row main-box">


    <div class="col-lg-8">
        <div class="panel">
            <div class="panel-body">
                <div class="main-box-header">
                    <h3>Blog Yorum Detayı </h3>
                </div>
                <div class="main-box-body">


                    <div class="form-group">
                        <div class="row">


                            <div class="col-lg-3">
                                <label control-label">Blog Adı</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.BlogName</label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Adı</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.UserName</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Mail</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.UserEmail</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Web Site</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.WebSite</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Yorum Tarihi</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Date</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Yorum</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Comment</label>
                            </div>
                        </div>
                    </div>

                    <input type="text" style="display:none" id="acHidden" value='@Model.State' name="AcceptComment" />

                    <div class="form-group">
                        <div class="row">


                            <div class="col-lg-3">
                                <label class="control-label">Onay Durumu</label>
                            </div>


                            @if (Model.State == true)
                            {
                                <div class="col-lg-8" style="margin-left:10px;margin-top:10px;margin-bottom:10px">


                                    <input type="checkbox" checked class="checkbox checkbox-success" id="ac" />
                                </div>
                            }
                            else
                            {
                                <input type="checkbox" style="margin-left:10px;margin-top:20px;margin-bottom:20px" class="checkbox float-left  checkbox-success" id="ac" />
                            }


                        </div>
                    </div>

                    <div>
                        <button style="margin-top:15px" onclick="jsDelete('@Model.Id')" class="btn btn-danger">Sil</button>
                    </div>





                </div>
            </div>
        </div>
    </div>






</div>




<script>
    function jsDelete(id) {
        if (confirm('Seçilen öğeyi silmek istediğinize emin misiniz?')) {

            $.ajax({
                url: "/BlogComment/Delete", type: "POST", data: { id: id }, success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);

                    }
                    else {
                        jsSuccess(result.Message);
                        window.location = "/Management/BlogComment/Index"
                    }
                }
            })
        }
    }



    $("#ac").change(function () {
        var id = $("#id").val();
        if (this.checked) {
            $.ajax({
                url: "/BlogComment/ChangeState/",
                type: "POST",
                data: { id: id, state: "True" },
                success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);
                    }
                    else {
                        jsSuccess(result.Message);
                        btn.attr("data-state", "True");
                        btn.text("Aktif")
                        btn.removeClass("btn-danger");
                        btn.addClass("btn-success");
                    }
                }
            })
        }
        else {




            $.ajax({
                url: "/BlogComment/ChangeState/",
                type: "POST",
                data: { id: id, state: "False" },
                success: function (result) {
                    if (result.State != 1) {
                        jsError(result.Message);
                    }
                    else {
                        jsSuccess(result.Message);
                        btn.attr("data-state", "False");
                        btn.text("Pasif")
                        btn.removeClass("btn-success");
                        btn.addClass("btn-danger");
                    }
                }
            })
        }
    });

    $(function () {
        if ('@Model.State' == "True") {
            $("#ac").prop('checked', true);
            $("#acHidden").val("true");
        } else {
            $("#ac").prop('checked', false);
            $("#acHidden").val("false");
        }
    })


</script>
