@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model HumanResourceDto

@{
    ViewBag.Title = "İnsan Kaynakları";
    ViewBag.PageTitle = "İnsan Kaynakları";
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        margin-left: 10px;
        margin-right: 10px;
    }


    label {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@Html.Raw(ViewBag.Message)


<input type="text" style="display:none" id="id" value="@Model.Id" />

<div id="message"></div>

<div class="row main-box">


    <div class="col-lg-8">
        <div class="panel">
            <div class="panel-body">
                <div class="main-box-header">
                    <h3>İş Başvurusu Detay</h3>
                </div>
                <div class="main-box-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Ad Soyad</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Name @Model.Surname</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Telefon</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Phone</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Mail</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Mail</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Tarihi</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Date</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">Kullanıcı Adres</label>
                            </div>
                            <div class="col-lg-9">
                                <label style="font-weight:normal">@Model.Adress</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label control-label">CV Dosyası</label>
                            </div>
                            <div class="col-lg-9" style="margin-top:15px">
                                <a href="@Url.Action("DownloadFolder","HumanResource",new { filename=Model.CV })"> İndir</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button style="margin-top:15px;margin-left:10px" onclick="jsDelete('@Model.Id')" class="btn btn-danger">Sil</button>
                    </div>

                    @*<div class="form-group">
                            <label class="col-lg-3 control-label">CV Dosyası</label>
                            <div class="col-lg-9" style="margin-top:20px;margin-bottom:20px">
                                <a href="@Url.Action("DownloadFolder","HumanResource",new { filename=Model.CV })"> İndir</a>
                            </div>


                        </div>*@


                </div>
            </div>
        </div>
    </div>






</div>



<script>
    function jsDelete(id) {
        $.ajax({
            url: "/HumanResource/Delete", type: "POST", data: { id: id }, success: function (result) {
                if (result.State != 1) {
                    jsError(result.Message);
                }
                else {
                    jsSuccess(result.Message);
                    window.location = "/Management/HumanResource/Index"
                }
            }
        })
    }


</script>