@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model SocialMediaDto

@{
    ViewBag.Title = "Sosyal Medya Ayarları";
    ViewBag.PageTitle = "Sosyal Medya Ayarları";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    div.input-group span.input-group-addon{
        width:35px;
    }
</style>





<script src="~/Areas/Management/Content/jquery.unobtrusive-ajax.min.js"></script>

@Html.Raw(ViewBag.Message)

@using (Ajax.BeginForm("Edit", "SocialMedia", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "message" }, new { @class = "form-horizontal bordered-row" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>


    <div class="row main-box">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Sosyal Medya Ekle</h3>
                    </div>
                    <div class="main-box-body">


                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Name)
                            <label for="Name" class=" control-label">Sosyal Medya Adı</label>
                            <div>
                                <input type="text" required class="form-control" name="Name" id="Name" value="@Model.Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Url" class=" control-label">Sosyal Medya Url</label>
                            <div>
                                <input type="text" required class="form-control" name="Url" id="Url" value="@Model.Url" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Icon">Sosyal Medya Icon</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i id="showIcon" style="margin-right:10px"></i></span>
                                <input type="text" class="form-control" id="Icon" name="Icon" value="@Model.Icon">

                                <input type="text" id="IconFull" name="IconFull" value="@Model.IconFull" style="display:none">
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="rowNumber" class=" control-label">Sıra No</label>
                            <div>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                                </div>
                            </div>
                        </div>


                        <div style="margin-top:50px" class="form-group">
                            <div class="col-lg-12">
                                <label style="margin-top:10px">İcon Ayarları</label>

                            </div>
                            @*<div class="col-lg-8 float-right">
                                    <div class="col-lg-4" style="text-align:right">
                                        <label style="margin-top:5px">İcon Ara</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control " type="text" />
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-warning">Ara</button>
                                    </div>
                                </div>*@



                            <div>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-facebook" title="facebook"></i></a>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-facebook-square" title="facebook-square"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-foursquare" title="foursquare"></i></a>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-google" title="google"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-google-plus" title="google-plus"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-google-plus-square" title="google-plus-square"></i></a>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-instagram" title="instagram"></i></a>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-linkedin" title="linkedin"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-linkedin-square" title="linkedin-square"></i></a>

                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-skype" title="skype"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-slack" title="slack"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-spotify" title="spotify"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-tumblr" title="tumblr"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-tumblr-square" title="tumblr-square"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-twitch" title="twitch"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-twitter" title="twitter"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-twitter-square" title="twitter-square"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-vk" title="vk"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-yahoo" title="yahoo"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-youtube" title="youtube"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-youtube-play" title="youtube-play"></i></a>
                                <a onclick="jsSetIcon(this)"><i class="glyph-icon tooltip-button demo-icon icon-youtube-square" title="youtube-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <header class="main-box-header">
                        <h3>Seo Ayarları</h3>
                    </header>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label for="SeoTitle" class="float-leftcontrol-label  float-left !important">Seo Title</label>
                            <div>
                                <input type="text" class="form-control" name="SeoTitle" id="SeoTitle" value="@Model.SeoTitle" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="SeoDescription" class="float-leftcontrol-label  float-left !important">Seo Description</label>
                            <div>
                                <textarea type="text" class="form-control" name="SeoDescription" id="SeoDescription" rows="5">@Model.SeoDescription</textarea>
                            </div>

                            <div style="padding-top:10px"><button type="submit" class="btn btn-success">Kaydet</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



}


<script>

    /* WYSIWYG editor */

    $(function () {
           var languageId = '@Model.LanguageId';
        if (languageId != 0) {

        $("select#LanguageId.form-control").val(languageId);
        }
    })



    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });



    function jsSetIcon(item) {
        var icon = $(item).children().attr("class")
        var iconTitle = $(item).children().attr("title")
        var oldClass = $("#showIcon").attr("class");

        $("#showIcon").removeClass(oldClass);
        $("#showIcon").addClass(icon);
        if (iconTitle == "facebook") {
            $("#Icon").val("facebook-f");
            $("#IconFull").val(icon);
        } else {
            $("#Icon").val(iconTitle);
            $("#IconFull").val(icon);
        }

    }

    $(function () {
        var currentIcon = '@Model.IconFull';
        $("#showIcon").addClass(currentIcon);
    })


</script>

<style>

    #showIcon {
        width: 25px !important;
        height: 20px !important;
        position: absolute;
        bottom: 18px;
        border: none;
        left:9px;
    }
</style>
