@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model SellerDto

@{
    ViewBag.Title = "Bayi Ayarları";
    ViewBag.PageTitle = "Bayi Ayarları";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-group div img {
        width: 100px !important;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
    }
</style>

@Html.Raw(ViewBag.Message)

@using (Html.BeginForm("Edit", "Seller", FormMethod.Post, new { @class = "form-horizontal bordered-row", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>


    <div class="row main-box">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Bayi Düzenle</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label for="LanguageId" class=" control-label">Bayi Dil</label>
                            <div>
                                <select class="form-control" id="LanguageId" name="LanguageId">
                                    @if (languages != null)
                                    {
                                        if (languages.Count > 0)
                                        {
                                            foreach (var language in languages)
                                            {
                                                <option value="@language.Id">@language.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Name)
                            <label for="Name" class=" control-label">Bayi Adı</label>
                            <div>
                                <input type="text" required class="form-control" name="Name" id="Name" value="@Model.Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="City" class=" control-label">Bayi Adı</label>
                            <div>
                                <input type="text" class="form-control" name="City" id="City" value="@Model.City" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Phone" class=" control-label">Bayi Telefon Numarası</label>
                            <div>
                                <input type="text" class="form-control" name="Phone" id="Phone" value="@Model.Phone" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Mail" class=" control-label">Bayi E-mail</label>
                            <div>
                                <input type="text" class="form-control" name="Mail" id="Mail" value="@Model.Mail" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AuthorityPlace" class=" control-label">Bayi Yetki Bölgesi</label>
                            <div>
                                <input type="text" class="form-control" name="AuthorityPlace" id="AuthorityPlace" value="@Model.AuthorityPlace" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="MapLocation" class=" control-label">Bayi Harita Lokasyonu</label>
                            <div>
                                <input type="text" class="form-control" name="MapLocation" id="MapLocation" value="@Model.MapLocation" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Adress" class=" control-label">Bayi Adres</label>
                            <div>
                                <textarea class="form-control" name="Adress" id="Adress" rows="5">@Model.Adress</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="rowNumber" class=" control-label">Sıra No</label>
                            <div>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <input type="text" style="display:none" name="CurrentImage" value="@Model.Image" />

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Görsel Ayarları</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <div>
                                <img src="~/Images/Sellers/@Model.Image" />
                            </div>
                            <label for="image" class=" control-label">Bayi Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image" name="file">
                            </div>
                        </div>
                        <div><button style="margin-top:2px" type="submit" class="btn btn-success">Kaydet</button></div>

                    </div>

                </div>

            </div>
        </div>

    </div>



}


<script>

    /* WYSIWYG editor */

    $(function () {
        "use strict";
        $('.wysiwyg-editor').summernote({
            height: 350
        });
    });

      $(function () {
        if ('@Model.LanguageId' != 0) {
             var languageId = @Model.LanguageId;
        $("select#LanguageId.form-control").val(languageId);
        }
    })


    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });

    $("#summerNoteContent").mouseleave(function () {
        var summerNoteContent = $("div#summerNoteContent div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

</script>
