@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model BlogDto

@{
    ViewBag.Title = "Blog Ekle";
    ViewBag.PageTitle = "Blog Ekle";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}



<div class="panel">
    <div class="panel-body">
        @Html.Raw(ViewBag.Message)

        @using (Html.BeginForm("Create", "Blog",FormMethod.Post, new { @class = "form-horizontal bordered-row", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div id="message"></div>

            <div class="form-group">
                <label id="LanguageId" class="col-sm-3 control-label">Blog Dil</label>
                <div class="col-sm-6">
                    <select class="form-control" id="LanguageId" name="LanguageId">
                        @if (languages != null)
                        {
                            if (languages.Count > 0)
                            {
                                foreach (var language in languages)
                                {
                                    <option value="@language.Id">@language.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>


            <div class="form-group">
                @Html.ValidationMessageFor(x => x.Caption)
                <label for="Caption" class=" col-sm-3 control-label">Blog Başlık</label>
                <div class="col-sm-6">
                    <input type="text" required class="form-control" name="Caption" id="Caption" value="@Model.Caption" />
                </div>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(x => x.Url)
                <label for="url" class="float-left col-sm-3 control-label  float-left !important">Blog Url</label>
                <div class="col-sm-6">
                    <input type="text" required class="form-control" name="Url" id="url" value="@Model.Url" />
                </div>
            </div>

            <div class="form-group">
                <label for="BlogBegin" class="float-left col-sm-3 control-label ">Blog Giriş Metni</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control" name="BlogBegin" id="BlogBegin" rows="5" >@Model.BlogBegin</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="image" class="col-sm-3 control-label">Blog Resim</label>
                <div class="col-sm-6">
                    <input type="file" required class="form-control" id="image" name="file">
                </div>
            </div>

            <div class="form-group">
                <label for="SeoTitle" class="float-left col-sm-3 control-label ">Seo Title</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="SeoTitle" id="SeoTitle" value="@Model.SeoTitle" />
                </div>
            </div>

            <div class="form-group">
                <label for="SeoKeywords" class="float-left col-sm-3 control-label ">Seo Keywords</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="SeoKeywords" id="SeoKeywords" value="@Model.SeoKeywords" />
                </div>
            </div>

            <div class="form-group">
                <label for="SeoDescription" class="float-left col-sm-3 control-label ">Seo Description</label>
                <div class="col-sm-6">
                    <textarea type="text"  class="form-control" name="SeoDescription" id="SeoDescription" rows="5" >@Model.SeoDescription</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="rowNumber" class="col-sm-3 control-label">Sıra No</label>
                <div class="col-sm-6">
                    <div class="input-group bootstrap-touchspin">
                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                        <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                    </div>
                </div>
            </div>

            <input type="text" style="display:none" id="acHidden" value='@Model.AcceptComment' name="AcceptComment" />

            <div class="form-group">
                <label for="ac" class=" col-sm-3 control-label">Yorumlara İzin Ver</label>
                <div class="col-sm-6">
                    @if (Model.AcceptComment == true)
                    {
                        <input type="checkbox" checked class="checkbox-success" id="ac" />
                    }
                    else
                    {
                        <input type="checkbox" class="checkbox-success" id="ac" />
                    }

                </div>
            </div>



            <input type="hidden" style="display:none" id="Content" name="Content" />

            <div class="form-group">
                <label for="content" class="col-sm-3 control-label">Blog İçeriği</label>
                <div class="col-sm-9">
                    <div class="example-box-wrapper">
                        <div id="summerNoteContent">
                            <div class="wysiwyg-editor" id="summerNote" style="display: none;"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-6"><button type="submit" class="btn btn-success">Kaydet</button></div>
        }
    </div>
</div>


<script>

    /* WYSIWYG editor */

    $(function () {
        "use strict";
        $('.wysiwyg-editor').summernote({
            height: 350
        });
    });

    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    $("#summerNoteContent").mouseleave(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

         $(function () {
         $("div.note-editor div.note-editable").html('@Html.Raw(Model.Content)');
    })

     $("#ac").change(function () {
        if (this.checked) {
            $('#acHidden').val("true");
        }
        else {
            $('#acHidden').val("false");
        }
    });

     $(function () {
        if ('@Model.AcceptComment' == "True") {
            $("#ac").prop('checked', true);
            $("#acHidden").val("true");
        } else {
            $("#ac").prop('checked', false);
            $("#acHidden").val("false");
        }
    })

</script>
