@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services


@model BlogDto

@{
    ViewBag.PageTitle = "Blog Yönetimi";


    LanguageService langServ = new LanguageService();
    var languages = langServ.GetAll().Result;
}

<style>
    .main-box .main-box-header {
        font-size: 1.3em;
        line-height: 29px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-box .main-box-body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-group div img {
        width: 100px !important;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
    }
</style>

@Html.Raw(ViewBag.Message)

@using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { @class = "form-horizontal bordered-row", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="message"></div>

    <div class="row main-box">


        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Blog Düzenle</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label id="LanguageId" class="control-label">Blog Dil</label>
                            <div>
                                <select class="form-control" id="LanguageId" name="LanguageId">
                                    @if (languages != null)
                                    {
                                        if (languages.Count > 0)
                                        {
                                            foreach (var language in languages)
                                            {
                                                <option value="@language.Id">@language.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Caption)
                            <label for="Caption" class=" control-label">Blog Başlık</label>
                            <div>
                                <input type="text" required class="form-control" name="Caption" id="Caption" value="@Model.Caption" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Url)
                            <label for="url" class="float-left control-label  float-left !important">Blog Url</label>
                            <div>
                                <input type="text" required class="form-control" name="Url" id="url" value="@Model.Url" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="BlogBegin" class="float-left control-label ">Blog Özet</label>
                            <div>
                                <textarea type="text" class="form-control" name="BlogBegin" id="BlogBegin" rows="5">@Model.BlogBegin</textarea>
                            </div>
                        </div>





                        <div class="form-group">
                            <label for="rowNumber" class="control-label">Sıra No</label>
                            <div>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input id="rowNumber" class="form-control" type="text" value="@Model.RowNumber" name="RowNumber" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyph-icon icon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyph-icon icon-chevron-down"></i></button></span>
                                </div>
                            </div>
                        </div>

                        <input type="text" style="display:none" id="acHidden" value='@Model.AcceptComment' name="AcceptComment" />

                        <div class="form-group">
                            <label for="ac" class=" control-label">Yorumlara İzin Ver</label>
                            <div>
                                @if (Model.AcceptComment == true)
                                {
                                    <input type="checkbox" checked class="checkbox-success" id="ac" />
                                }
                                else
                                {
                                    <input type="checkbox" class="checkbox-success" id="ac" />
                                }

                            </div>
                        </div>



                        <input type="hidden" style="display:none" id="Content" name="Content" />

                        <div class="form-group">
                            <label for="content" class=" control-label">Blog İçeriği</label>
                            <div>
                                <div class="example-box-wrapper">
                                    <div id="summerNoteContent">
                                        <div class="wysiwyg-editor" id="summerNote" style="display: none;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*@Html.Hidden("OldCover", Model.ImageCover)
        @Html.Hidden("OldBig", Model.ImageBig)*@


        <input type="text" style="display:none" name="OldCover" value="@Model.ImageCover"/>
        <input type="text" style="display:none" name="OldBig" value="@Model.ImageBig"/>


        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Görsel Ayarları</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <div>
                                <img src="~/Images/Blogs/@Model.ImageCover" />
                            </div>
                            <label for="image1" class="control-label">Blog Kapak Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image1" name="file1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <img src="~/Images/Blogs/@Model.ImageBig" />
                            </div>
                            <label for="image2" class="control-label">Blog Büyük Resim</label>
                            <div>
                                <input type="file" class="form-control" id="image2" name="file2">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="main-box-header">
                        <h3>Seo Ayarları</h3>
                    </div>
                    <div class="main-box-body">
                        <div class="form-group">
                            <label for="SeoTitle" class="float-left control-label ">Seo Title</label>
                            <div>
                                <input type="text" class="form-control" name="SeoTitle" id="SeoTitle" value="@Model.SeoTitle" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="SeoDescription" class="float-left control-label ">Seo Description</label>
                            <div>
                                <textarea type="text" class="form-control" name="SeoDescription" id="SeoDescription" rows="5">@Model.SeoDescription</textarea>
                            </div>
                        </div>

                        <div style="padding-top:10px"><button type="submit" class="btn btn-success">Kaydet</button></div>

                    </div>

                </div>
            </div>
        </div>
    </div>

}


<script>

    $(function () {
        var languageId = @Model.LanguageId;
        $("select#LanguageId.form-control").val(languageId);
    })

    /* WYSIWYG editor */

    $(function () {
        "use strict";
        $('.wysiwyg-editor').summernote({
            height: 350
        });
    });

    $(function () {
        "use strict";
        $("input[id='rowNumber']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyph-icon icon-plus',
            verticaldownclass: 'glyph-icon icon-minus'
        });
    });


    $("#summerNoteContent").mouseleave(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

    $("button[type=submit]").hover(function () {
        var summerNoteContent = $("div.note-editor div.note-editable").html();
        $("#Content").val(summerNoteContent);
    })

     $(function () {
         $("div.note-editor div.note-editable").html('@Html.Raw(Model.Content)');
    })

    $("#ac").change(function () {
        if (this.checked) {
            $('#acHidden').val("true");
        }
        else {
            $('#acHidden').val("false");
        }
    });

    $(function () {
        if ('@Model.AcceptComment' == "True") {
            $("#ac").prop('checked', true);
            $("#acHidden").val("true");
        } else {
            $("#ac").prop('checked', false);
            $("#acHidden").val("false");
        }
    })


</script>
