@using EddarsCms.Dto.BasicDtos
@using EddarsCms.Common
@using EddarsCms.UserSides


@model List<NewsDto>

@{
    var coverImage = Fronted.GetCoverImages().News;
    var fixedAreas = Fronted.GetFixedArea();
}
<meta name="title" content="" />
<meta name="description" content="" />

<!-- start page title section -->
<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('/Images/CoverImages/@coverImage');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                <!-- start page title -->
                <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">@fixedAreas.AnaSayfaHaber</h1>
                <span class="text-white-2 opacity6 alt-font"></span>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start post content section -->
<section class="wow fadeIn hover-option4 blog-post-style3">
    <div class="container">
        <div class="row">


            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <!-- start post item -->
                        <div class="col-12 col-lg-4 col-md-6 grid-item margin-30px-bottom text-center text-md-left wow fadeInUp">
                            <div class="blog-post bg-light-gray inner-match-height">
                                <div class="blog-post-images overflow-hidden position-relative">
                                    <a title="@item.Caption" href="@Url.Action("Detay","Haber",new {id=item.Id,url=item.Url })">
                                        <img src="~/Images/News/@item.ImageBig" alt="@item.Caption">
                                        <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                    </a>
                                </div>
                                <div class="post-details padding-40px-all md-padding-20px-all">
                                    <a href="@Url.Action("Detay","Haber",new {id=item.Id,url=item.Url })" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block lg-width-100 margin-15px-bottom">@item.Caption</a>
                                    <p>@item.Description</p>
                                    <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                    <div class="author">
                                        <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">@item.CreatedDate.ToString("dd MMMM yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end post item -->
                    }
                }
            }

        </div>
        @*<!-- start pagination -->
            <div class=" text-center margin-100px-top md-margin-50px-top wow fadeInUp">
                <div class="pagination text-small text-uppercase text-extra-dark-gray">
                    <ul class="mx-auto">
                        <li><a href="#"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end pagination -->*@
    </div>
</section>
<!-- end blog content section -->
