@using EddarsCms.Dto.BasicDtos
@using EddarsCms.BLL.Services

@model List<LanguageDto>
@{
    ViewBag.Title = "Home Page";
}

<a href="@Url.Action("Create","Language")" class="btn btn-primary">Yeni ekle</a>


<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>İd</th>
                <th>İsim</th>
                <th>Url</th>
                <th>Resim</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    foreach (var language in Model)
                    {
                        <tr id="row-@language.Id">
                            <td>@language.Id</td>
                            <td>@language.Name</td>
                            <td>@language.Url</td>
                            <td style="width:10%"><img style="width:40%" src="~/Images/Language/@language.Image" /></td>
                            <td style="width:10%"><button onclick="jsDelete(@language.Id)" class="btn btn-danger">Sil</button></td>
                            <td style="width:10%"><a href="@Url.Action("Edit","Language",new {id=language.Id })" class="btn btn-success">Düzenle</a></td>
                        </tr>

                    }
                }
            }
        </tbody>
    </table>



</div>



<script>
    function jsDelete(id) {
        $.ajax({
            url: "/Language/Delete", type: "POST", data: { id: id }, success: function (result) {
                if (result.State != 1) {
                    jsError(result.Message);

                }
                else {
                    jsSuccess(result.Message);
                    $("#row-" + id).remove();
                }
            }
        })
    }


</script>

